body {
  margin: 0;
  background-color: black;
  font-family: monospace;
}

/* Make the section full screen so users can click anywhere */
#draw {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden; /* Ensures no scrolling */
}

#poem {
  position: fixed;
  top: 10%; /* Adjust the vertical position */
  left: 30px;
  width: 300px; /* Adjust size as needed */
  z-index: 1000; /* Ensures the logo stays on top */
}

#poem pre{
  color: white;
  font-size: 9px;
}

/* Optional styling for buttons */
#refreshButton,
#homeButton,
#saveButton,
#downloadButton {
  position: absolute;
  z-index: 10;
  padding: 10px 20px;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-family: monospace;
}

#homeButton {
  top: 10px;
  left: 10px;
}

#refreshButton {
  top: 10px;
  left: 100px;
}

#saveButton {
  top: 10px;
  left: 220px;
}




#refreshButton:hover,
#homeButton:hover,
#saveButton:hover,
#downloadButton:hover {
  filter: drop-shadow(0 0 10px white);
}


.fade-out {
  transition: opacity 10s ease-out;
  opacity: 0;
}
