body {
  margin: 0;
  background-color: black;
  font-family: monospace;
}

/* Make the section full screen so users can click anywhere */
#draw {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden; /* Ensures no scrolling */
}



/* Optional styling for buttons */
#refreshButton,
#homeButton,
#saveButton,
#downloadButton {
  position: absolute;
  z-index: 10;
  padding: 10px 20px;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-family: monospace;
}

#homeButton {
  top: 10px;
  left: 10px;
}

#refreshButton {
  top: 10px;
  left: 100px;
}

#saveButton {
  top: 10px;
  left: 220px;
}

#downloadContainer {
  position: absolute;
  top: 50px; /* Positioning below the buttons */
  left: 340px; /* Align with other buttons */
  z-index: 10; /* Ensure it appears above other elements */
  display: none; /* Initially hidden */
}

#downloadLink {
  padding: 10px 20px;
  color: rgb(255, 255, 255);
  border: none;
  text-decoration: none; /* Remove underline */
  font-size: 16px;
  font-family: monospace;
}

#downloadLink:hover {
  filter: drop-shadow(0 0 10px white);
}


#refreshButton:hover,
#homeButton:hover,
#saveButton:hover,
#downloadButton:hover {
  filter: drop-shadow(0 0 10px white);
}
