body {
  margin: 0;
  background-color: black;
  color: white;
  font-family: monospace;
}

.enter {
  margin-top: 10%;
  max-width: 100%;
  text-align: center;
}

.enter img {
  width: 200px; /* Set width to 200px */
  height: 200px; /* Set height to 200px */
  transition: transform 1s ease; /* Add a smooth transition */
}

.enter:hover {
  filter: drop-shadow(0 0 10px white);
  transform: scale(1.05); /* Slight zoom effect on hover */
}

.story p {
  color: white;
}

.story {
  margin-top: 10%;
  justify-content: center;
  align-content: center;
  display: flex;
}

/* Optional styling for buttons */
#aboutButton,
#homeButton {
  position: absolute;
  z-index: 10;
  padding: 10px 20px;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-family: monospace;
}

#homeButton {
  top: 10px;
  left: 10px;
}

#aboutButton {
  top: 10px;
  right: 10px;
}

#aboutButton:hover,
#homeButton:hover {
  filter: drop-shadow(0 0 10px white);
}

.scroll-container {
  max-height: 100%; /* Container takes full height */
  overflow-y: auto; /* Enable vertical scrolling */
  padding: 10px; /* Optional padding */
}
